
<div id="<%= dom_id(sticky_note) %>" data-id="<%= sticky_note.id %>">
  <p>
    <strong>Body:</strong>
    <%= sticky_note.content %>
  </p>

  <% if user_signed_in? && current_user.has_role?(:admin) %>
    <p>
      <strong>User:</strong>
      <%= sticky_note.owner.name %>
    </p>
  <% end %>
</div>
