<div id="<%= dom_id sticky_note %>">
  <p>
    <strong>Title:</strong>
    <%= sticky_note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= sticky_note.body %>
  </p>

  <% if user_signed_in? && current_user.has_role?(:admin) %>
    <p>
      <strong>User:</strong>
      <%= sticky_note.owner.name %>
    </p>
  <% end %>

</div>
