<%= turbo_frame_tag id="new-note" do %>
  <%= link_to new_sticky_note_path(whiteboard_id:) do %>
    <div class="sticky-note add-note w-100 h-100 d-flex flex-column align-items-center justify-content-center">
      <i class="fa fa-xl fa-file-circle-plus"></i><br>
      New Note
    </div>
  <% end %>
<% end %>
