<div id="<%= dom_id sticky_note %>">
  <p>
    <strong>Title:</strong>
    <%= sticky_note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= sticky_note.body %>
  </p>

  <% if current_user.has_role?(:admin) %>
    <p>
      <strong>User:</strong>
      <%= sticky_note.user&.name || "Guest: #{sticky_note.guest_id}" %>
    </p>
  <% end %>

</div>
