<h1>Editing sticky note</h1>

<%= render "sticky_notes/form", sticky_note: @sticky_note %>

<br>

<div>
  <%= link_to "Show this sticky note", @sticky_note %> |
  <%= link_to "Back to sticky notes", root_path %>
</div>
