<h1>Editing sticky note</h1>

<%= render "form", sticky_note: @sticky_note %>

<br>

<div>
  <%= link_to "Show this sticky note", user_sticky_note_path(current_user) %> |
  <%= link_to "Back to sticky notes", user_sticky_notes_path(current_user) %>
</div>
