<h1>Editing sticky note</h1>

<%= turbo_frame_tag @sticky_note do %>
  <%= render partial: "sticky_notes/form", locals: { sticky_note: @sticky_note,  whiteboard_id: @sticky_note.whiteboard.id } %>
<% end %>

<br>

<div>
  <%= link_to "Show this sticky note", @sticky_note %> |
  <%= link_to "Back to sticky notes", root_path %>
</div>
