<div data-controller="drag" data-drag-url-value='/sticky_notes/:id/location' data-drag-attribute-value="position">

<p style="color: green"><%= notice %></p>

  <h1>Sticky notes</h1>
  <div id="sticky_notes" data-drag-target="list" data-new-value="position">
    <% @sticky_notes.where(stage: key.each do |sticky_note| %>
      <%= render sticky_note, sticky_note: sticky_note %>
      <p>
        <%= link_to "Show this sticky note", sticky_note %>
      </p>
    <% end %>
  </div>
  <%= link_to "New sticky note", new_sticky_note_path %>
<% end %>
