<h1>New sticky note</h1>
<%= turbo_frame_tag id="new-note-#{@whiteboard_id}" do %>
  <%= render partial: "sticky_notes/form", locals: { sticky_note: @sticky_note, whiteboard_id: @whiteboard_id } %>
<% end %>
<br>

<div>
  <%= link_to "Back to sticky notes", root_path %>
</div>
