<div id="<%= dom_id(workspace) %>">
  <p>
    <strong>Name:</strong>
    <%= workspace.name %>
  </p>

  <% if user_signed_in? && current_user.has_role?(:admin) %>
    <p>
      <strong>User:</strong>
      <%= workspace.owner.name %>
    </p>
  <% end %>
</div>
