<div class="container mt-4">
  <h1 class="mb-4">Editing Workspace</h1>

  <%= render "workspaces/form", workspace: @workspace %>

  <div class="mt-4">
    <%= link_to "Cancel", root_path, class: 'btn btn-secondary' %>
  </div>
</div>
