<p class="text-success"><%= notice %></p>

<h1 class="mb-4">Workspaces</h1>

<div class="container-fluid">
  <div id="workspaces" class="row row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
    <% @workspaces.each do |workspace| %>
      <div class="col md-12">
        <div class="card mb-4">
          <div class="card-body">
            <%= render workspace %>
            <p class="mt-2">
              <%= link_to "Show this workspace", workspace, class: 'btn btn-sm btn-outline-primary' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "New workspace", new_workspace_path, class: 'btn btn-sm btn-outline-success mt-4' %>
