<div class="alert alert-dismissible fade show <%= flash_class(level) %>" role="alert">
  <span><%= content if content.is_a?(String) %>
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close">
</div>
