<div class="container mt-4">
  <h1 class="mb-4">New Whiteboard</h1>

  <%= form_with(model: [@workspace, @whiteboard], local: true) do |form| %>
    <div class="field mb-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit "Create Whiteboard", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
